a {
  text-decoration: none;
  color: blue;
}

h2 {
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  font-family: Helvetica;
}

.navbar {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.links {
  list-style: none;
}

.item {
  margin-right: 2rem;
  margin-left: 2rem;
  color: grey;
}

.item:hover {
  color: black;
  transition: 0.3s;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  color: white;

  background-image: url(https://digitaladdictsblog.com/wp-content/uploads/2019/01/shutterstock_295846730.jpg);
}

.name {
  line-height: 30rem;
}

.section {
  padding-bottom: 2rem;
}

.about {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  background: rgb(221, 220, 220);
}

.description {
  text-align: center;
  width: 30rem;
  line-height: 30px;
  margin-right: 10rem;
}

.pfp {
  height: 20rem;
}

.hobbies {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hobby {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 5rem;
}

.picture {
  max-width: 20rem;
}

.info {
    width: 20rem;
}

.anime {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgb(221, 220, 220);
}

.show {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 20rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.picture-2 {
  height: 20rem;
}

.links {
  display: flex;
  justify-content:center;
  color: blue;
}

.link {
  margin-left: 2rem;
  margin-right: 2rem;
}

.break {
  flex-basis: 100%;
  height: 0;
}